//- includes/head.pug
table(id="keyboard" class="align-middle")
  tr
    td(colspan="4") E/J
    td(colspan="4") 1
    td(colspan="4") 2
    td(colspan="4") 3
    td(colspan="4") 4
    td(colspan="4") 5
    td(colspan="4") 6
    td(colspan="4") 7
    td(colspan="4") 8
    td(colspan="4") 9
    td(colspan="4") 0
    td(colspan="4") -
    td(colspan="4") ^
    td(colspan="4") \
    td(colspan="4") Back
  tr
    td(colspan="6") Tab
    td(colspan="4") q
    td(colspan="4") w
    td(colspan="4") e
    td(colspan="4") r
    td(colspan="4") t
    td(colspan="4") y
    td(colspan="4") u
    td(colspan="4") i
    td(colspan="4") o
    td(colspan="4") p
    td(colspan="4") @
    td(colspan="4") [
    td(colspan="6" rowspan="2") Enter
  tr
    td(colspan="8") CapsLock
    td(colspan="4") a
    td(colspan="4") s
    td(colspan="4") d
    td(colspan="4") f
    td(colspan="4") g
    td(colspan="4") h
    td(colspan="4") j
    td(colspan="4") k
    td(colspan="4") l
    td(colspan="4") ;
    td(colspan="4") :
    td(colspan="4") ]
  tr
    td(colspan="10") Shift
    td(colspan="4") z
    td(colspan="4") x
    td(colspan="4") c
    td(colspan="4") v
    td(colspan="4") b
    td(colspan="4") n
    td(colspan="4") m
    td(colspan="4") ,
    td(colspan="4") .
    td(colspan="4") /
    td(colspan="4") \
    td(colspan="6") Shift
  tr
    td(colspan="5") 
    td(colspan="5") 
    td(colspan="5") 
    td(colspan="5") 
    td(colspan="16") space
    td(colspan="5") 
    td(colspan="5") 
    td(colspan="5") 
    td(colspan="4") 
    td(colspan="5") 
