//- includes/keyboard.jade
div(class="modal-dialog modal-lg")
  div(class="modal-content")
    //- start
    div(id="modalStart")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
          h1 すたーと
        div(class="modal-footer")
          button(class="btn btn-default" data-dismiss="modal") Close
    //- playing
    div(id="modalPlaying")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center")
      div(class="modal-body")
        div
          span(id="correct")
          span(id="miss")
          span(id="timer")


        div(id="modalTitle")

        div(id="modalContent")

        div(id="modalKeyboard" class="keyboard")
          div(class="key")
          div(class="key key_1") 1
          div(class="key key_2") 2
          div(class="key key_3") 3
          div(class="key key_4") 4
          div(class="key key_5") 5
          div(class="key key_6") 6
          div(class="key key_7") 7
          div(class="key key_8") 8
          div(class="key key_9") 9
          div(class="key key_0") 0
          div(class="key key_-") -
          div(class="key key_^") ^
          div(class="key key_\\") ¥
          div(class="key")
          div(class="key tab")
          div(class="key key_q") q
          div(class="key key_w") w
          div(class="key key_e") e
          div(class="key key_r") r
          div(class="key key_t") t
          div(class="key key_y") y
          div(class="key key_u") u
          div(class="key key_i") i
          div(class="key key_o") o
          div(class="key key_p") p
          div(class="key key_@") @
          div(class="key key_[") [
          div(class="enter-top")
          div(class="capsLock")
          div(class="key key_97") a
          div(class="key key_s") s
          div(class="key key_d") d
          div(class="key key_f") f
          div(class="key key_g") g
          div(class="key key_h") h
          div(class="key key_j") j
          div(class="key key_k") k
          div(class="key key_l") l
          div(class="key key_;") ;
          div(class="key key_:") :
          div(class="key key_]") ]
          div(class="key")
          div(class="key key_leftShift") Shift
          div(class="key key_z") z
          div(class="key key_x") x
          div(class="key key_c") c
          div(class="key key_v") v
          div(class="key key_b") b
          div(class="key key_n") n
          div(class="key key_m") m
          div(class="key key_,") ,
          div(class="key key_.") .
          div(class="key key_/") /
          div(class="key key_\\") \
          div(class="key key_rightShift") Shift
          div(class="key blank")
          div(class="key blank")
          div(class="key blank")
          div(class="key blank")
          div(class="key key_space")
          div(class="key blank")
          div(class="key blank")
          div(class="key blank")
          div(class="key blank")
          div(class="key blank")

      div(class="modal-footer")
        button(class="btn btn-default" data-dismiss="modal") Close
    //- result
    div(id="modalResult")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
        div(id="result")
      div(class="modal-footer")
        button(id="twitterBtn" class="btn btn-default") ツイート
        button(id="missBtn" class="btn btn-default") ミスだけ
        button(id="replayBtn" class="btn btn-default") もう一回
        button(class="btn btn-default" data-dismiss="modal") 閉じる
