//- includes/modal.jade
div(class="modal-dialog modal-lg")
  div(class="modal-content")
    //- start
    div(class="modalStart")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
        div(class="start")
        div(class="modalKeyboard keyboard")
          include keyboard.jade

      div(class="modal-footer")
        button(class="btn btn-default" data-dismiss="modal") Close
    //- playing
    div(class="modalPlaying")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center")
      div(class="modal-body")
        div(class="playing")
          span(class="correct")
          span(class="miss")
          span(class="timer")

          div(class="modalTitle")

          div(class="modalContent")
        div(class="modalKeyboard keyboard")
          include keyboard.jade

      div(class="modal-footer")
        button(class="btn btn-default" data-dismiss="modal") Close
    //- result
    div(class="modalResult")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
        div(class="result")
      div(class="modal-footer")
        button(class="twitterBtn btn btn-default") ツイート
        button(class="missBtn btn btn-default") ミスだけ
        button(class="replayBtn btn btn-default") もう一回
        button(class="btn btn-default" data-dismiss="modal") 閉じる
