//- includes/keyboard.jade
div(class="modal-dialog modal-lg")
  div(class="modal-content")
    //- start
    div(id="modalStart")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
          h1 すたーと
        div(class="modal-footer")
          button(class="btn btn-default" data-dismiss="modal") Close
    //- playing
    div(id="modalPlaying")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
        div(id="modalTitle" class="text-center")

        div(id="modalContent")

        div(id="modalKeyboard" class="keyboard")
          div
          div(class="key 1") 1
          div(class="key 2") 2
          div(class="key 3") 3
          div(class="key 4") 4
          div(class="key 5") 5
          div(class="key 6") 6
          div(class="key 7") 7
          div(class="key 8") 8
          div(class="key 9") 9
          div(class="key 0") 0
          div(class="key -") -
          div(class="key ^") ^
          div(class="key ") ¥
          div
          div(class="key tab")
          div(class="key q") q
          div(class="key w") w
          div(class="key e") e
          div(class="key r") r
          div(class="key t") t
          div(class="key y") y
          div(class="key u") u
          div(class="key i") i
          div(class="key o") o
          div(class="key p") p
          div(class="key @") @
          div(class="key [") [
          div(class="enter-top")
          div(class="capsLock")
          div(class="key a") a
          div(class="key s") s
          div(class="key d") d
          div(class="key f") f
          div(class="key g") g
          div(class="key h") h
          div(class="key j") j
          div(class="key k") k
          div(class="key l") l
          div(class="key ;") ;
          div(class="key :") :
          div(class="key ]") ]
          div
          div(class="key left-shift") Shift
          div(class="key z") z
          div(class="key x") x
          div(class="key c") c
          div(class="key v") v
          div(class="key b") b
          div(class="key n") n
          div(class="key m") m
          div(class="key ,") ,
          div(class="key .") .
          div(class="key /") /
          div(class="key") \
          div(class="key right-shift") Shift
          div(class="blank")
          div(class="blank")
          div(class="blank")
          div(class="blank")
          div(class="space")
          div(class="blank")
          div(class="blank")
          div(class="blank")
          div(class="blank")
          div(class="blank")

      div(class="modal-footer")
        button(class="btn btn-default" data-dismiss="modal") Close
    //- result
    div(id="modalResult")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title text-center") #{game.gameName}
      div(class="modal-body")
        div(id="result")
      div(class="modal-footer")
        button(id="twitterBtn" class="btn btn-default") ツイート
        button(id="missBtn" class="btn btn-default") ミスだけ
        button(id="replayBtn" class="btn btn-default") もう一回
        button(class="btn btn-default" data-dismiss="modal") 閉じる
