extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item active")
      a(href="/") Home
    li(class="breadcrumb-item active") help

  div(class="panel-group" id="helpAccordion")
    div(class="panel panel-info")
      div(class="panel-heading")
        h3(class="panel-title")
          a(data-toggle="collapse" data-parent="#helpAccordion" href="#help1") タイトルＡ
      div(id="help1" class="panel-collapse collapse in")
        div(class="panel-body")
          p タイトルＡのコンテンツ

    div(class="panel panel-info")
      div(class="panel-heading")
        h3(class="panel-title")
          a(data-toggle="collapse" data-parent="#helpAccordion" href="#help2") タイトルB
      div(id="help2" class="panel-collapse collapse")
        div(class="panel-body")
          p タイトルBのコンテンツ