doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      if user
        case user.provider
          when "google"
            a(href="/logout") #{user.displayName} をログアウト
          when "twitter"
            a(href="/logout") #{user.username} をログアウト
          when "github"
            a(href="/logout") #{user.username} をログアウト
      else
        a(href="/login") ログイン
    main
      block content
    footer
    script(src="/javascripts/bundle.js")