extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item")
      a(href="/") Home
    li(class="breadcrumb-item active") Login
  if user
    button(type="button" class="btn btn-primary btn-lg btn-block") #{user.username} でログイン中
  else
    a(href="/auth/google" type="button" class="btn btn-primary btn-lg btn-block") Googleでログイン
    a(href="/auth/twitter" type="button" class="btn btn-primary btn-lg btn-block") Twitterでログイン
    a(href="/auth/github" type="button" class="btn btn-primary btn-lg btn-block") GitHubでログイン
