extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item")
      a(href="/") Home
    li(class="breadcrumb-item active") New

  form(method="post" action="/games")
    div(class="form-group")
      label(for="gameName") タイトル
      input(id="gameName" class="form-control" type="text" name="gameName")
    div(class="form-group")
      label(for="tags") タグ
      textarea(id="tags" class="form-control" name="tags")
      p(class="help-block") ※複数入力する場合は改行してください
    div(class="form-group")
      label(for="privacy") プライバシー
      select(id="privacy" class="form-control" name="privacy")
        option(value="secret" selected) 非公開
        option(value="public") 公開
    div(class="form-group btn-group pull-right")
      button(class="btn" type="submit") 作成
