extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item active")
      a(href="/") Home
  //- タブ
  if user
    ul(class="nav nav-tabs")
      li
        a(href="/")
          i(class="fa fa-home" aria-hidden="true")  HOME
      li(class="active")
        - var userName = user.username || user.displayName
        a(href="/users/#{user.id}")
          i(class="fa fa-user" aria-hidden="true")  #{userName}
      li
        a(href="/users/#{user.id}/favorites")
          i(class="fa fa-star" aria-hidden="true")  Bookmark
  //- パネル
  - var hasGames = games.length > 0
  if hasGames
    div(id="panel-wrapper")
      each game in games
        include includes/panel.jade
  //- モーダル
  include includes/modal.jade
