.navbar-brand {
  font-size: 24px;
}
body {
  padding-top: 70px;
}

.monospace {
  white-space: pre-wrap;
  font-family: sans-serif;
}

.fa {
  vertical-align: -15%;
  font-size: 20px;
}

.fa:hover:not(.fa-commenting-o) {
  cursor: pointer;
}

.fa-commenting-o, .fa-thumbs-o-up {
  margin-right: 6px;
}



.panel .modalContent {
  white-space: pre-wrap;
}

.panel {
  margin-top: 15px;
}
.panel ul {
  list-style:none;
  display: flex;
  justify-content: space-around;

}
.label {
  margin-right: 4px;
  background-color: olive;
}
.playGame {
  color: white;
  background: #11b69d;
  text-align: center;
  opacity: 0.9;
}
.playGame:hover {
  cursor: pointer;
  opacity: 1;
}



.modal-body {
  background: #eee;
  height: 600px;
}

.display {
  height: 300px;
  overflow-y: scroll;
}

.keyboard {
  height: 300px;
  overflow: hidden;
}

.start{
  height: 200px;
  line-height: 200px;
  text-align: center;
}


.result{
  height: 200px;
  text-align: center;
}

.modalPlaying {
  display: none;
}

.modalResult {
  display: none;
}


.key {
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  margin: 4px;
}

.tab, .enter-top {
  width: 74px;
}

.capsLock {
  width: 100px;
}

.leftShift {
  width: 126px;
}

.rightShift {
  width: 74px;
}

.blank {
  width: 60px;
}

.key_space {
  width: 200px;
}

.isKey {
  color: #ffffff;
  font: bold;
  background-color: #ffa500;
}

