/* ========== 共通 ========== */
body {
  padding-top: 70px;
  
}
pre {
  white-space: pre-wrap;
}

/* ========== ヘッダー ========== */
.navbar-brand {
  font-size: 24px;
}

.userImage {
  height: 20px;
  margin-right: 8px;
}
/* ========== メインエリア ========== */
/* /games/new */
.newGame, .newComment, .newStage {
  padding: 32px 40px 16px 40px;
  border: solid 5px gray;
  margin-bottom: 30px;
  border-radius: 6px;
}

/* /games/:gameId */

/* /games/:edit */
.editGame {
  padding: 32px 40px 16px 40px;
  background-color: lightgray;
  margin-bottom: 30px;
  border-radius: 6px;
}

/* ログイン */
.googleBtn {
  color: white;
  background-color: #c6594b;
  opacity: 0.9;
}
.googleBtn:hover {
  color: white;
  background-color: #c6594b;
  opacity: 1;
}
.twitterBtn {
  color: white;
  background-color: #55acee;
  opacity: 0.9;
}
.twitterBtn:hover {
  color: white;
  background-color: #55acee;
  opacity: 1;
}
.githubBtn {
  color: white;
  background-color: #4d4d4d;
  opacity: 0.9;
}
.githubBtn:hover {
  color: white;
  background-color: #4d4d4d;
  opacity: 1;
}
/* 詳細 */
/* 編集 */

/* パネル */
#panel-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#panel-wrapper .panel {
  margin-top: 10px;
  width: 32%;
}

.panel-body .prettyprint {
  background-color: white;
  border-style: hidden;
}
.panelTitle {
  font-size: 20px;
}
.panelContent {
  font-size: 20px;
}


.panel ul {
  list-style:none;
  display: flex;
  justify-content: space-around;
}
.label {
  margin-right: 4px;
  background-color: darkgray;
}
.playGame {
  color: white;
  background: #11b69d;
  text-align: center;
  opacity: 0.9;
}
.playGame:hover {
  cursor: pointer;
  opacity: 1;
}



/* アイコン */
.panel .fa {
  vertical-align: -15%;
  font-size: 20px;
  margin-right: 6px;
}
.isPointer {
  cursor: pointer;
}
.panel .fa-star {
  color: #F6A615;
}
.panel .fa-heart {
  color: #E82A37;
}
.panel .fa-commenting-o, .panel .fa-star-o, .panel .fa-heart-o {
  color: gray;
}
.label {
  font-size: 14px;
}

/* ========== モーダル ========== */
.modal-body {
  height: 600px;
}
.modal-body .prettyprint {
  background-color: white;
  border-style: hidden;
}

.monospace {
  white-space: pre-wrap;
  font-family: sans-serif;
}

/* ディスプレイ */
.isletter {
  color: #ffffff;
  font: bold;
  background-color: #ffa500;
}

.display {
  height: 300px;
  overflow-y: scroll;
}
.startMessage {
  text-align: center;
  line-height: 300px;
  font-size: 32px;
}
.info {
  list-style:none;
  display: flex;
  justify-content: space-around;
}
.title {
  font-size: 30px;

}
.content {
  font-size: 26px;
}
.start{
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.result{
  height: 200px;
  text-align: center;
}
.modalPlaying {
  display: none;
}
.modalResult {
  display: none;
}
/* キーボード */
.keyboard {
  height: 300px;
  overflow: hidden;
}
.key {
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 4px;
}

.tab, .enter-top {
  width: 76px;
}

.capsLock {
  width: 100px;
}
.enter-bottom {
  width: 52px;
}

.leftShift {
  width: 124px;
}

.rightShift {
  width: 84px;
}

.blank {
  width: 60px;
}

.key_space {
  width: 220px;
}

.isKey {
  color: #ffffff;
  font: bold;
  background-color: #ffa500;
}

/* ========== フッター ========== */

