/* ========== 共通 ========== */
body {
  padding-top: 70px;
}
pre {
  white-space: pre-wrap;
  border-style: none;
}
.prettyprint {
  background-color: transparent;
}
.panel .panel-body .prettyprint {
  border-style: none;
}
.label {
  margin-right: 4px;
}
.label a{
  color: white;
}
.panel-body {
  background-color: white;
}

/* ========== ヘッダー ========== */
.navbar-brand {
  font-size: 24px;
  padding: 0;
  line-height: 60px;
}
#brandImage {
  width: 195px;
}
.userImage {
  height: 22px;
  margin-right: 8px;
}

/* ========== メインエリア ========== */
#panel-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.gamePanel .panel-body {
  background-color: #ecf0f1;
  box-shadow: 0 1px 3px rgba(106,137,152,0.2);
  border-radius: 5px
}

/* ゲームパネル */
.gamePanel {
  width: 31.333%;
  margin: 1%;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.panel .gameName {
  color: #0f7864;
}
.playGame {
  color: white;
  background: #18bc9c;
  text-align: center;
}
.playGame:hover {
  cursor: pointer;
  background: #0f7864;
}
.icons {
  list-style:none;
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
}
.isPointer {
  cursor: pointer;
}
.panel .fa {
  vertical-align: -15%;
  font-size: 20px;
  margin-right: 6px;
}
.panel .fa-star {
  color: #F6A615;
}
.panel .fa-heart {
  color: #E82A37;
}
.panel .fa-commenting-o, .panel .fa-star-o, .panel .fa-heart-o {
  color: #2c3e50;
}
.badge {
  background-color: #2c3e50;
}

/* 詳細 */
#gameInfo {
  border: 2px solid #ecf0f1;
}
#userLink {
  color: #0f7864;
  font-weight: bold;
}
.panelStageTitle {
  font-size: 18px;
}
.panelStageContent {
  font-size: 18px;
}
#privacySecret {
  color: white;
  background-color: #EE5C9A;
  border-radius: .25em;
  padding: .2em .6em .3em;
  margin-left: 1rem;
  vertical-align: 10%;
}
#privacyPublic {
  color: white;
  background-color: #74A82A;
  border-radius: .25em;
  padding: .2em .6em .3em;
  margin-left: 1rem;
  vertical-align: 10%;
}
#comment-wrapper {
  padding: 19px;
  border-radius: 4px;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
}
#comment {
  white-space: pre-wrap;
}
#commentList {
  padding: 19px;
}
#commentPost {
  padding: 19px;
}
#commentPost .well {
  margin-bottom: 0;
}

/* 編集 */
#stageContent {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
#stagePost {
  margin-bottom: 0;
}

/* ログイン */
.loginMessage {
  color: #7b8a8b;
  font-weight: bold;
}
.googleBtn {
  color: white;
  background-color: #c6594b;
  opacity: 0.9;
}
.googleBtn:hover {
  color: white;
  background-color: #c6594b;
  opacity: 1;
}
.twitterBtn {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
  opacity: 0.9;
}
.twitterBtn:hover {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
  opacity: 1;
}
.githubBtn {
  color: white;
  background-color: #4d4d4d;
  opacity: 0.9;
}
.githubBtn:hover {
  color: white;
  background-color: #4d4d4d;
  opacity: 1;
}

/* ========== モーダル ========== */
.modal-header {
  height: 58px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  color: #7b8a8b;
  font-weight: bold;
}
.modal-body {
  height: 600px;
}
.display {
  height: 280px;
  overflow-y: scroll;
}
.modalCountDown {
  display: none;
}
.modalPlaying {
  display: none;
}
.modalResult {
  display: none;
}
.modal-body .prettyprint {
  border-style: none;
}

/* スタート */
.startMessage {
  text-align: center;
  line-height: 280px;
  font-size: 36px;
  color: #7b8a8b;
  font-weight: bold;
}

/* プレイ */
.title {
  font-size: 30px;
  color: #0DA921;
}
.content {
  font-size: 30px;
}

/* リザルト */
.stageList {
  height: 570px;
  overflow-y: scroll;
}
.stageList .panel-body {
  background-color: white;
}
.stageList .panelContent {
  font-size: 16px;
}

/* ボタン */
.closeBtnbtn {
  margin-left: 5px;
}
.twitter-hashtag-button {
  float: left;
}

/* ========== キーボード ========== */
.keyboard {
  height: 300px;
  overflow: hidden;
}
.key {
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #808080;
  background: #F5F5F5;
  box-shadow:0px 2px 0px 1px #D3D3D3;
  border-radius: 5px;
  margin: 4px;
  font-size: 16px;
}
.isKey {
  color: #ffffff;
  font: bold;
  box-shadow: none;
  background-color: #5191FD;
  border: 2px solid #5191FD;
}
.tab, .enter-top {
  width: 76px;
}
.capsLock {
  width: 100px;
}
.enter-bottom {
  width: 52px;
}
.leftShift {
  width: 124px;
}
.rightShift {
  width: 84px;
}
.blank {
  width: 60px;
}
.key_space {
  width: 220px;
}
